@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.carousel-arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    position: relative;
    display: inline-flex;
    width: 90px;
    height: 50px;
}
.carousel-arrows__arrow {
    font-size: 20px;
    padding: 20px 0;
    cursor: pointer;
}
.carousel-arrows__arrow:hover {
    opacity: 0.5;
}
.carousel-arrows__counter {
    font-size: 14px;
}
.text-container {
    background-color: #eee;
    padding: 60px;
}
.text-container h1 {
    font-size: 60px;
    text-align: center;
}
.image-container img {
    width: 100%;
    height: 40vw;
    object-fit: cover;
}